{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.27"
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "rollup": {
      "plugins": ["@babel/plugin-external-helpers"]
    },
    "test": {
      "presets": ["es2015"]
    }
  }
}
